<% if( ies === undefined || ies === null){ %>
    <div class="container section">
        <h1>:-( Nenhum cardápio foi encontrado</h1>
        <p class="lead">Por favor, verifique novamente o cardápio que você escolheu</p>
        <p><a href="#all">Clique aqui</a> para ver todos os cardapios disponíveis.</p>
    </div>
<% } else { %>
    <div class="sec-nav-bar">
        <div class="container">
            <span>Você está vendo:</span>
            <span class="text-primary"><strong><%= ies %></strong></span>
        </div>
    </div>
    <div class="container">
        <div class="row section">
            <div class="col-md-2">
                <div class="panel panel-primary" id="segunda">
                    <div class="panel-heading">
                        <center>
                            <p><strong>Segunda-Feira</strong></p>
                            <p><small><%= seg.date %></small></p>
                        </center>
                    </div>
                    <ul class="list-group">
                        <% seg.itens.forEach(function(item) { %>
                            <li class="list-group-item"><small><%= item %></small></li>
                        <% }); %>
                    </ul>                    
                </div>
            </div>
            <div class="col-md-2">
                <div class="panel panel-primary" id="terca">
                    <div class="panel-heading">
                        <center>
                            <p><strong>Terça-Feira</strong></p>
                            <p><small><%= ter.date %></small></p>
                        </center>
                    </div>
                    <ul class="list-group">
                        <% ter.itens.forEach(function(item) { %>
                            <li class="list-group-item"><small><%= item %></small></li>
                        <% }); %>
                    </ul>                    
                </div>
            </div>
            <div class="col-md-2">
                <div class="panel panel-primary" id="quarta">
                    <div class="panel-heading">
                        <center>
                            <p><strong>Quarta-Feira</strong></p>
                            <p><small><%= qua.date %></small></p>
                        </center>
                    </div>
                    <ul class="list-group">
                        <% qua.itens.forEach(function(item) { %>
                            <li class="list-group-item"><small><%= item %></small></li>
                        <% }); %>
                    </ul>                    
                </div>
            </div>
            <div class="col-md-2">
                <div class="panel panel-primary" id="quinta">
                    <div class="panel-heading">
                        <center>
                            <p><strong>Quinta-Feira</strong></p>
                            <p><small><%= qui.date %></small></p>
                        </center>
                    </div>
                    <ul class="list-group">
                        <% qui.itens.forEach(function(item) { %>
                            <li class="list-group-item"><small><%= item %></small></li>
                        <% }); %>
                    </ul>                    
                </div>
            </div>
            <div class="col-md-2">
                <div class="panel panel-primary" id="sexta">
                    <div class="panel-heading">
                        <center>
                            <p><strong>Sexta-Feira</strong></p>
                            <p><small><%= sex.date %></small></p>
                        </center>
                    </div>
                    <ul class="list-group">
                        <% sex.itens.forEach(function(item) { %>
                            <li class="list-group-item"><small><%= item %></small></li>
                        <% }); %>
                    </ul>                    
                </div>
            </div>
            <div class="col-md-2">
                <div class="panel panel-primary" id="sabado">
                    <div class="panel-heading">
                        <center>
                            <p><strong>Sábado</strong></p>
                            <p><small><%= sab.date %></small></p>
                        </center>
                    </div>
                    <ul class="list-group">
                        <% sab.itens.forEach(function(item) { %>
                            <li class="list-group-item"><small><%= item %></small></li>
                        <% }); %>
                    </ul>                    
                </div>
            </div>
        </div>

        <div class="section">
            <p><strong>Notícias</strong></p>
            Nenhuma notícia foi encontrada.
        </div>

        <div class="section">
            <p><strong>Informações</strong></p>
            Nenhuma informação foi encontrada.
        </div>
    </div>
<% } %>
